[submodule "src/hosts"]
	path = src/hosts
	url = git@github.com:euonymus/belongsto_hosts.git
[submodule "src/cakephp"]
	path = src/cakephp
	url = git@github.com:euonymus/belongsto.git
[submodule "src/secrets"]
	path = src/secrets
	url = git@bitbucket.org:euonymus/belongsto_secret.git
